Django == 3.2.9

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\api_call.py: 2
bs4 == 0.0.1

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\c_bar_graph.py: 2
matplotlib == 3.4.3

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\c_bar_graph.py: 3
numpy == 1.21.4

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\api_call.py: 3
# C:\Users\Shahzaib\Documents\Pakwheels\testApp\c_bar_graph.py: 1
pandas == 1.3.4

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\views.py: 2,3
plotly == 5.3.1

# C:\Users\Shahzaib\Documents\Pakwheels\testApp\api_call.py: 1
requests == 2.26.0

gunicorn == 20.1.0